/*************************************
 * Attribute Selectors for testing
 ************************************/
/* <a> elements with a title attribute */
a[title] {
  color: purple;
  background-color: antiquewhite;
}

/* <a> elements with an href matching "https://example.org" */
a[href="https://example.org"]
{
  color: green;
  background-color: black;
}

/* <a> elements with an href containing "example" */
a[href*="example"] {
  font-size: 2em;
  color: cadetblue;
}

/* <a> elements with an href ending "attribute_selectors",
    case-insensitive */
a[href$="attribute_selectors" i] {
  font-style: italic;
  color: rgb(40, 34, 75);
  background-color: cornsilk;
}


/* <a> elements whose class attribute contains the word "classy" */
a[class~="classy"] {
  padding: 2px;
  color: mediumvioletred;
  font-style: italic;
}

/* <a> elements with an href ending "Bob-Ross",
    case-sensitive */
a[href$="Bob-Ross"] {
  color: #336699;
}
